<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.penguin.project.tutorial.dao.RoleMapper">

    <resultMap id="baseResult" type="org.penguin.project.tutorial.domain.Role">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findAll" resultMap="baseResult">
        SELECT id, name, description, create_time, update_time FROM roles
    </select>

    <select id="findByName" resultMap="baseResult" parameterType="org.penguin.project.tutorial.domain.Role">
        SELECT id, name, description, create_time, update_time FROM roles where name= #{name}
    </select>
    <insert id="insert" parameterType="org.penguin.project.tutorial.domain.Role">
        insert into roles(id,name,description) values(#{id},#{name},#{description})
    </insert>

</mapper>